---
import SectionContainer from "../components/SectionContainer.astro";
import Layout from "../layouts/Layout.astro";
import ProjectHero from "../components/ProjectHero.astro";
import ProjectInfo from "../components/ProjectInfo.astro";
const photoUrl = "/src/projects/images/3rsT_image.jpg";
---

<Layout description="3rsT Project" title="3rsT">
  <main>
    <section class="h-8"></section>
    <SectionContainer class="h-full gap-8">
      <ProjectHero
        transitionName="3rsTImage"
        source=`${photoUrl}`
        alt="3rsT isometric design"
      />

      <ProjectInfo
        title="3rsT"
        description="This app recomends the user a drink and based on the song they are currently listening in Spotify"
      />
    </SectionContainer>
  </main>
</Layout>
