---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/Hero.astro";
import Projects from "../components/Projects.astro";
import Footer from "../components/Footer.astro";
import SectionContainer from "../components/SectionContainer.astro";
import Experience from "../components/Experience.astro";
import BriefCaseIcon from "../icons/BriefCaseIcon.astro";
import SocialPill from "../icons/SocialPill.astro";
import DocumentIcon from "../icons/DocumentIcon.astro";
---

<Layout
  description="Learn about the solutions I've made while working on diferent proyects I've contribuited."
  title="Portafolio de Roberto Wong - Developer and "
>
  <main
    class="flex flex-col items-center justify-center gap-10 md:gap-20 pt-5 sm:pt-20"
  >
    <SectionContainer
      id="hero"
      class="items-center flex-col gap-12 sm:gap-10 justify-between md:mt-10 md:flex-row sm:p-0 p-5"
    >
      <Hero />
    </SectionContainer>

    <SectionContainer
      id="career"
        class="flex-col gap-y-10 md:px-0 md:pt-10 "
    >
      <div class="flex flex-row gap-x-3 justify-between items-center">
        <div class="flex flex-row items-center justify-start gap-x-3">
          <BriefCaseIcon class="size-10" />
          <h1 class="">Career</h1>
        </div>
        <nav class="flex flex-row md:mr-11 ml-5">
          <SocialPill
            href="https://docs.google.com/document/d/1O9P1Azw82MKqqrXMcaMWUasmLonc3Q6qTRIIsBkHu4c/export?format=pdf"
            ><DocumentIcon class="size-6" /><h4
              class="text-md sm:text-sm -pr-10"
            >
              Download Resume
            </h4></SocialPill
          >
        </nav>
      </div>
      <Experience />
    </SectionContainer>

    <SectionContainer
      id="projects"
      class="flex justify-center flex-col items-center md:px-0"
    >
      <Projects />
    </SectionContainer>
    <Footer />
  </main>
</Layout>
