---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/Hero.astro";
import Projects from "../components/Projects.astro";
import Footer from "../components/Footer.astro";
import SectionContainer from "../components/SectionContainer.astro";
import Experience from "../components/Experience.astro";
import BriefCaseIcon from "../icons/BriefCaseIcon.astro";
import SocialPill from "../icons/SocialPill.astro";
import DocumentIcon from "../icons/DocumentIcon.astro";
---

<Layout
  description="Learn about the solutions I've made while working on diferent proyects I've contribuited."
  title="Portafolio de Roberto Wong - Developer and "
>
  <main>
    <SectionContainer
      class="flex items-center flex-col justify-between p-1 mt-10 gap-y-10 md:flex-row md:w-[850px] w-[400px] md:h-[350px]"
    >
      <Hero /></SectionContainer
    >

    <SectionContainer
      id="career"
      class="md:w-[850px] flex-col justify-start gap-y-10"
    >
      <div class="flex flex-row gap-x-3 justify-between items-center">
        <div class="flex flex-row items-center justify-start gap-x-3">
          <BriefCaseIcon class="size-10" />
          <h1 class="">Career</h1>
        </div>
        <nav class="flex flex-row md:mr-11">
          <SocialPill
            href="https://docs.google.com/document/d/1O9P1Azw82MKqqrXMcaMWUasmLonc3Q6qTRIIsBkHu4c/export?format=pdf"
            ><DocumentIcon class="size-6" />Download Resume</SocialPill
          >
        </nav>
      </div>
      <Experience />
    </SectionContainer>

    <SectionContainer
      id="projects"
      class="flex justify-center flex-col items-center"
    >
      <Projects />
    </SectionContainer>
    <Footer />
  </main>
</Layout>
