---
import ExperienceItem from "./ExperienceItem.astro";
const EXPERIENCIE = [
  {
    date: "Current",
    title: "UX Research Operations Specialist",
    company: "HP",
    description: `Improve daily researcher work and experience by solving technical issues and creating bridges between research tools. Enabled the successful execution of 6 in-person studies by coaching and supporting researchers across the US and Asia with A/V equipment, streaming, and providing data collection best practices.`,
  },
  {
    date: "April 2023",
    title: "UX Research Lab Technician",
    company: "HP",
    description:
      "Automated HP's customer recruitment process by leveraging python scripts and internal O365 tools (Power Automate, Power BI, Sharepoint Lists, etc.) to coordinate the signing of legal forms and scheduling, reducing recruitment times from 2 weeks to 2 hours.",
  },
  {
    date: "December 2023",
    title: "Apple Pro Advanced Repair Agent",
    company: "Geek Squad",
    description:
      "Work on Apple products as an authorized repair store by replacing screens, back glass, running diagnostics using Apple authorized tools. Coaching and Advising the Repair Agents team on Apple hardware and software repairs.",
  },
];
---

<ol class="relative">
  {
    EXPERIENCIE.map((experiencie) => (
      <li class="">
        <ExperienceItem {...experiencie} />
      </li>
    ))
  }
</ol>
