<header class="flex justify-center w-full py-4">
  <nav class="flex justify-between w-[350px] flex-row gap-3">
    <a href="#career">Career</a>
    <a href="#projects">Projects</a>
    <a href="#about">About Me</a>
    <a href="#contact">Contact Me</a>
  </nav>
</header>
