---
interface Props {
  name: string;
  img: string;
  sm_description: string;
  slug: string;
  react?: boolean;
  astro?: boolean;
  tailwind?: boolean;
  expo?: boolean;
  reactNative?: boolean;
}
const { name, img, sm_description, react, astro, tailwind, expo } = Astro.props;
---

<section
  class="flex shadow-gray-400 shadow-2xl flex-col w-80 md:w-[350px] md:max-h-max bg-white rounded-xl hover:scale-110 hover:shadow-red-300 transition duration-500 ease-in-out"
>
  <img
    transition:name=`img-${img}`
    class="size-fit w-[400px] rounded-t-xl"
    alt="yolo"
    src=`images/${img}`
  />
  <div class="p-3">
    <h2 class="mb-2 font-bold">{name}</h2>
    <h3>{sm_description}</h3>
  </div>
</section>
