---
const { id, class: className } = Astro.props;
---

<section
  id={id}
  class=`sm:w-[600px] md:w-[700px] lg:w-[850px] max-w-max flex md:w-[1000px] pt-10 ${className}`
>
  <slot />
</section>
