---
import TailwindConfig from "../../tailwind.config";
import Expo from "../icons/Expo.astro";
import Python from "../icons/Python.astro";
import TailWind from "../icons/TailWind.astro";
---

<section class="flex justify-center w-[800px] flex-col items-center">
  <h1>My Tech Stack</h1>
  <h2>Technologies that I work with</h2>
  <ul class="flex flex-row align-center justify-center gap-x-8">
    <li>
      <Python class="h-40 w-40" />
    </li>
    <li>
      <Expo class="h-36 w-20" />
    </li>
    <li>
      <TailWind class="h-40 w-40 pl-7" />
    </li>
  </ul>
</section>
