---
import SectionContainer from "../../components/SectionContainer.astro";
import { getCollection } from "astro:content";
import Layout from "../../layouts/Layout.astro";
import ProjectHero from "../../components/ProjectHero.astro";
import ProjectInfo from "../../components/ProjectInfo.astro";

const { project } = Astro.props;
const { data } = project;
const { name, img, sm_description } = data;
---

<Layout description="3rsT Project" title="3rsT">
  <main>
    <section class="h-8"></section>
    <SectionContainer class="h-full gap-8">
      <ProjectHero img={img} alt="3rsT isometric design" />

      <ProjectInfo title={name} description={sm_description} />
    </SectionContainer>
  </main>
</Layout>
